<%= stylesheet_link_tag 'index', :media => "all" %>

<div class="memo-box">
  <div class="box">
    <form action="/topics/search/">
      <input type="text" name="q" id="q" value="" placeholder="トピックを検索" control-id="ControlID-1">
      <input type="hidden" name="date" value="y" control-id="ControlID-2">
    </form>
  </div>
</div>

<div class="memo-topics-container">
  <div class="topics-container"> 
    <h3>コメント数ランキング</h3>
    <br>
    <% @all_ranks.each.each.with_index(1) do |topic, i| %>
      <div class="main-box">
        <td><%= i %>位</td>
        <%= link_to topic.title, topic_path(topic.id) %>
        <br>
        コメント数…
        <%= topic.comments.count %>
        <br>
        <p><%= @topic.created_at %></p>
      </div>
    <% end %>

    <br>
  
    <h3>トピック一覧</h3>
    <br>
    <% page_entries_info @topics %>

    <ul>
    <% @topics.each do |topic, i| %>
      <div class="main-box">
        <li><%= link_to topic.title, topic_path(topic.id) %></li>
        <p><%= @topic.created_at %></p>
        <%= link_to '[削除]', topic_delete_path(topic.id), method: :delete, data: {confirm: "削除してもよろしいですか？"} %>
      </div>
    <% end %>
    </ul>

    <%= paginate @topics %>
  </div>

  <div class="topics-container2">
      <h3>新規トピック</h3>
      <%= form_for @topic do |f| %>
        <div class="main-box">
          <%= f.label :名前 %>
          <%= f.text_field :name, :size => "10" %>
        </div>
          
        <div class="main-box">
          <%= f.label :タイトル %>
          <%= f.text_field :title, :size=> "200" %>
        </div>

          <%= f.submit "投稿する" %>
        
      <% end %>
  </div>
</div>
<br>